body {
    background-color: #ebeefd;
    font-family: 'Poppins', sans-serif;
    margin: 2% auto;
}

/* body content start  */
.body-content {
    padding: 2%;
}

.header-text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

.sub-header-text {
    text-align: center;
}

.see-all-div {
    margin: 5% auto;
}

.see-all-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 15rem;
    margin: auto;
}

.see-all-card-img {
    height: 15rem;
}

.see-all-card-body {
    font-size: 1rem;
    padding: 5%;
}

/* start of pc styles */
@media screen and (max-width: 991px) {
    /* ie it ends at 991px */
    
    .see-all-card {
        width: 12rem;
    }
    
    .see-all-card-img {
        height: 12rem;
    }
} 


    /* start of medium tablet styles */
@media screen and (max-width: 767px) {
    /* ie it ends at 767px */

    .see-all-card {
        width: 15rem;
    }
    
    .see-all-card-img {
        height: 15rem;
    }
}

    
/* start of phone styles */
@media screen and (max-width: 479px) {
    /* ie it ends at 479px */
    
    .see-all-card {
        width: 18rem;
    }
    
    .see-all-card-img {
        height: 18rem;
    }
} 